body {
  padding: 0;
  margin: 0;
  cursor: default;
  font-family: courier;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}


.ar-page {
  position: relative;
}

.ar-excel-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ar-excel-row {
  width: 14%;
  border-right: 1px grey solid;
}

.ar-excel-row--numbers {
  width: 2%;
}

.ar-excel-cell {
  border-bottom: 1px grey solid;
  height: 15px;
  padding: 2px;
}

.ar-excel-cell-inner {
  width: 100%;
  opacity: 1;
}

.ar-excel-cell--white {
  color: white;
}

.ar-excel-cell--grey {
  background-color: #F0F0F0;
  text-align: center;
}

.ar-excel-cell--red {
  color: red;
}

.ar-excel-cell--underline {
  text-decoration: underline;
}

.ar-excel-cell--hover:hover {
  cursor: pointer;
}

.ar-text-hover {
  opacity: 0;
  width: 100%;
}

.ar-text-hover:hover {
  opacity: 1;
}

.ar-map-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 35%;
  width: 30%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;
}

.ar-excel-cell-inner--mobile {
  opacity: 0;

}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 15px;
  }

  .ar-excel-row {
    width: 24%;
  }

  .ar-excel-cell {
    height: 22px;
    padding: 3px;
  }

  .ar-excel-row--numbers {
    width: 4%;
  }

  .ar-excel-row--hide {
    display: none;
  }

  .ar-excel-cell-inner--mobile {
    opacity: 1;
  }

  .ar-map-container {
    width: 60%;
    margin: 0 20%;
  }

}
